body{

  margin-top: 20px;
padding: 10px;
}
#container{
  width:70%;
  margin: 0 auto;
}
h1{
color: red;

}


.box{
  padding: 20px;
}
.small-text{
  font-size: 9pt;
}


.pull-quote{
  font-style: italic;
  color: red;
  font-weight: light;
  font-size: 16pt;

}

